@(page: cms.utils.PageRenderer)

@be.objectify.deadbolt.java.views.html.dynamic(core.utils.security.UserRoles.ADMIN) {
	<link rel="stylesheet" media="screen" href="@cms.routes.Assets.at("stylesheets/layouter.css")">
	<link rel="stylesheet" media="screen" href="@cms.routes.Assets.at("stylesheets/font-awesome.css")">
	
	<script src="@cms.controllers.admin.routes.Application.javascriptRoutes" type="text/javascript" ></script>
	
	<script src="@cms.routes.Assets.at("javascripts/ckeditor/ckeditor.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/config.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/actions.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/admin.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/block.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/clean.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/drag.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/drop.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/handle.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/manager.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/modal.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/core.js")" type="text/javascript" ></script>
	<script src="@cms.routes.Assets.at("javascripts/registering.js")" type="text/javascript" ></script>
	
	
	<!-- button to toggle the admin panel -> always visible -->
	<div id="layouter-admin-toggle"><a class="layouter-admin-toggle-btn" href="javascript:void(0)" title="Show admin panel"><i class="icon-cogs icon-2x"></i></a></div>
	
	<div id="layouter-admin-panel" >
		<!-- Fields to render when editing this page (When administrator is logged in) -->
	   	<input type="hidden" id="cms-pageId" name="cms-pageId"  value="@page.getId()">
	   	<input type="hidden" id="cms-language" name="cms-language"  value="@cms.data.Language.getCurrentLanguage()">
		
			
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/admin"><i class="icon-cog"></i>&nbsp;&nbsp;admin panel</a>
				<ul class="layouter-admin-nav nav">
					<li><a class="layouter-save-btn" href="javascript:void(0)">save page</a></li>
					<li><a class="layouter-create-btn" href="javascript:void(0)">create page</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle @(if (page.getId()==null) {"disabled"})" data-toggle="dropdown" href="#">page settings<b class="caret"></b></a>
						@if(page.getId()!=null) {
					  	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					  		<li><a class="layouter-change-title-btn" href="javascript:void(0)">change title</a></li>
							<li><a class="layouter-change-url-btn" href="javascript:void(0)">change url</a></li>
					  		<li><a class="layouter-change-template-btn" href="javascript:void(0)">change template</a></li>
						</ul>
						}
					</li>
    				<li><a href="@core.accounts.UrlResolver.getAccount().logout()">logout</a></li>
					<!-- <li><a class="layouter-delete-btn" @if(page.getId()==null) {style='display:none'} href="javascript:cms.layout.Admin.deletePage()">Delete</a></li> -->
				</ul>
				<ul class="nav pull-right">
    				<li class="divider-vertical"></li>
    				<li><a class="close-btn layouter-admin-toggle-btn" href="javascript:void(0)"><i class="icon-2x icon-remove"></i></a></li>
	    		</ul>
			</div>
		</div>
	</div>
	
	<div id="admin-dialog-window"></div>
}
