@(loginForm: play.data.Form[com.beligum.core.data.Login])

<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
    </head>
    <body >
    	
    	<div id="wrap">
	    	
	    	<div id="page" class="row-fluid">
		 		
		 		<div id="content">
					@helper.form(action = com.beligum.cms.controllers.admin.routes.AccountController.authenticate(), 'class -> "form-horizontal")  {
					<div class="row">
						<div class="offset2 span5">
							<h1>Login</h1>
						</div>
					</div>
					
					@if(loginForm.hasGlobalErrors()) {
						<div class="alert">
							@for(error <- loginForm.globalErrors()) {
								@error.message()
							}
						</div>
						}
					
					<div class="control-group">
						<label class="control-label" for="email">Email</label>
						<div class="controls">
							<input type="text" id="email" name="email" placeholder="" value="@loginForm.field("email").value()">
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="password">Password</label>
						<div class="controls">
							<input type="password" id="password1" name="password" placeholder="" value="@loginForm.field("password").value()">
						</div>
					</div>
					
					
					<div class="control-group">
						<label class="control-label"></label>
						<div class="controls">
							<button>Login</button>
						</div>
					
					</div>
				 </div>
				 
				 }
				 
			</div>	
		</div>
      	<div id="dialog-window"></div>
    </body>
</html>



