@(page: cms.models.Page, templates: List[cms.models.Template])
<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Change template</h3>
  </div>
  <div class="modal-body">
    <div class="control-group">
		<label class="control-label" for="adult-select">Adults</label>
		<div class="controls">
			<select id="layouter-template-select">
				@for(template <- templates) {
					<option value="@template.getId()" @if(page.getTemplate() != null && page.getTemplate().getId() == template.getId()) { selected} >@template.getName()</option>
				}
			</select>
		</div>
	</div>
	
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Cancel</a>
    <a href="javascript:cms.admin.changeTemplate()" class="change-persons-btn btn btn-primary">Change</a>
  </div>
</div>